h1 {
    text-align: center;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    width:80%;
    height: 15%;
    margin: 30px;
    margin-bottom: 30px;
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

.spaceTop{
    width:60px;
    padding-top: 40%;
}
.spaceBottom{
    height:80px;
    padding-bottom: 100%;
}
.big{
    padding-top: 20px;
    padding-bottom: 20px;
}
.size{
    width:400px;
    height:200px;
}
#cart{
    background-color:#89FACD;
}
#top{
    background-color:#FADAF1;
}